   extends layout
   block content
    h1= title
    - let Chairid = toShow._id
    - let Chair_type = toShow.Chairs_type
    - let Chaircost = toShow.cost
    - let Chairsize = toShow.size
    div
    div.row
    div(class='ChairsAttr mr-3') Chairs  ID is:
    div #{Chairid}
    div.row
    div(class='ChairsAttr mr-3') Chairs Type is:
    div #{Chair_type}
    div.row
    div(class='ChairsAttr mr-3') Chairs Size is:
    div #{Chairsize}
    div.row
    div(class='ChairsAttr mr-3') Chairs Cost is:
    div #{Chaircost}