extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 

  - let Chairsid = toShow._id 
  - let Chair_type = toShow.Chair_type 
  - let Color  = toShow.Color  
  - let Cost  = toShow.Cost
  div 
    div.row 
      div(class='ChairsAttr mr-3') Chairs ID is:  #{Chairsid} 
      div(class='ChairsAttr mr-3') Chairs Type is:   #{Chair_type} 
      div(class='ChairsAttr mr-3') Color is:   #{Color} 
      div(class='ChairsAttr mr-3') Cost is:   #{Cost}

     button(class="btn btn-danger m-3" onclick="window.location.href='/Chairs'") Cancel